.logobar {
  height: 15vh;
  margin-bottom: 10px;
  text-align: center;
  background-color: #e9ecef;
}

#navbar-logo {
  font-size: 4rem;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(29, 27, 27);
  /* color: #e9ecef; */
}

#nav-bar-clothes {
  padding-left: 6rem;
  padding-right: 4rem;
}

.navbar {
  height: 7vh;
  margin-bottom: 10px;
}

.nav-link{
  font-size: 22px;
  padding-right: 1rem;
  padding-left: 4rem;
}

.nav-item {
  color: #e9ecef;
}

#categories {
  padding-left: 80px;
}

#jumbotron{
  height: 76vh;
  margin-bottom: 0px;
  padding-top: 40px;
}

#category-display-ul {
  padding: 0;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  display: inline-block;
  margin: 1rem 1rem;
 } 

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.item-image {
    justify-self: center;
    width: 25rem;
    height: 25rem;
    margin: 10px 25px 15px 6px;
    border: 1px solid rgba(0,0,0,.125);
}

.item-info {
  padding-left: 10px;
}

#item-name {
  margin: 10px 0px 20px 0px;
}

ul {
  padding: 6px;
}

li {
  list-style-type: none;
}



/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: