.logobar {
  height: 15vh;
  margin-bottom: 10px;
  text-align: center;
  background-color: #e9ecef;
}

#navbar-logo {
  font-size: 4rem;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(29, 27, 27);
  /* color: #e9ecef; */
}

#nav-bar-clothes {
  padding-left: 6rem;
  padding-right: 4rem;
}

.navbar {
  height: 7vh;
  margin-bottom: 10px;
}

.nav-link{
  font-size: 22px;
  padding-right: 1rem;
  padding-left: 4rem;
}

.nav-item {
  color: #e9ecef;
}

#categories {
  padding-left: 80px;
}

#jumbotron{
  height: 76vh;
  margin-bottom: 0px;
  padding-top: 40px;
}

#category-display-ul {
  padding: 0;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  display: inline-block;
  margin: 1rem 1rem;
 } 

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.item-image {
    justify-self: center;
    width: 25rem;
    height: 25rem;
    margin: 10px 25px 15px 6px;
    border: 1px solid rgba(0,0,0,.125);
}

.item-info {
  padding-left: 10px;
}

#item-name {
  margin: 10px 0px 20px 0px;
}

ul {
  padding: 6px;
}

li {
  list-style-type: none;
}
